body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.light {
  background-color: #f0f0f0;
  color: #000;
}

.dark {
  background-color: #121212;
  color: #fff;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.table-responsive {
  overflow-x: auto; /* horizontal scroll for small screens */
}


/* Tablet */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Mobile */
@media (max-width: 480px) {
  table {
    font-size: 12px;
  }

  button {
    padding: 4px 8px;
    font-size: 12px;
  }
}
