:root {
  --bg-color: #e6f2ff;
  --text-color: #000;
  --card-bg: #ffffff;
  --border-color: #ddd;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.light {
  --bg-color: #e6f2ff;
  --text-color: #000;
  --card-bg: #ffffff;
  --border-color: #ddd;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #000814;
  --text-color: #ffffff;
  --card-bg: #001d3d;
  --border-color: #003566;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.table-responsive {
  overflow-x: auto; /* horizontal scroll for small screens */
}


/* Tablet */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  table {
    font-size: 14px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Mobile */
@media (max-width: 480px) {
  table {
    font-size: 12px;
  }

  button {
    padding: 4px 8px;
    font-size: 12px;
  }
}
